<div class="event-details">
    <div class="top">
        <div class="left">
            <h2><%= @event.name %></h2>
            
            <strong>Event creator: <%= @event.user.name%></strong>
            <div class="details"><span class="date"><%= @event.date %></span> in <%= @event.location %></div>
        </div>
        <div class="right">
            <%# if user_signed_in? && Registration.exists?(user_id: current_user.id, event_id: @event.id)%>
                <%#= link_to "Cancel", event_registration_url(@event, @registrations.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}%>
            <%# else %>
                <%#= link_to "Attend Event", new_event_registration_url(@event.id), class: "btn-attend"%>
            <%#end%>
            <%#if current_user.name == @event.user.name %>
                <%#= link_to "Edit", edit_event_path(@event), class: "btn-attend" %>
                <%#= link_to "Delete", @event, data: { turbo_method: :delete}, class: "btn-cancel"%>
            <%#end%>
        </div>
    </div>
    <p><%= @event.description %></p>
    <div class="register">
        <div class="link-bottom">
            <div>
                <%#= link_to "Who's attending?", event_registrations_path(@event.id) %>
            </div>
            <div>
                <%#= link_to "Send Invitation", event_users_url(@event) %>
            </div>
        </div>
    </div>
</div>